@charset "UTF-8";
.AlinhamentoTitulo {
    text-align: center;
    background-color:#D9e0e3; 
}


.formatasection {
    box-shadow: 1px 1px 1px 1px lightslategrey;
    width: 100%;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color:#acacac; 
    
}

.imgsection {
    margin-top: 10px;
    border: 1px solid #081424;
}
.galeria {

    margin: 1px 1px 1px 1px;
    border: 2px solid #081424;
}
/*
div{
    margin-top: 20px;
}

*/


