@charset "UTF-8";
.AlinhamentoTitulo {
    text-align: center;
}

.formataArtistas {
    box-shadow: 1px 1px 1px 1px #d3d3d3;
}

.formatasection {
    box-shadow: 1px 1px 1px 1px lightslategrey;
    width: 100%;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
}

.imgsection {
    margin-top: 10px;
}
.galeria {

    margin: 2% 1%;
    border: 5px solid #ffffff;
    background-color: #ffffff;
    box-shadow: 1px 1px 1px 3px rgba(0, 0, 0, .4);
   
    
}
nav.navRodape {
    margin: 0px 0px 0px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    
}

ul.ulRodape li.liRodape {
    display: inline;
    text-align: center;
}

ul.ulRodape li.liRodape a.aRodape {
    /* topo, direita, base, esquerda */
    padding: 0px 100px 0px 100px;
    text-decoration: none;
    font-size: 1.5em;
    color: black;
    align-content: center;
    text-align: center;
}
