@charset "UTF-8";

/*
    Nome: Das Ruas para Web
    Data: Setembro 2019
    Descrição: Projeto de site utilizando Bootstrap, CSS3 e HTML5
    Tema: Grafite
    Versão: 1.0
    Autor: Larissa de Souza Moreira
*/


h1 {
    text-align: center;
}
