@charset "utf-8";

.tam-hamburguer {
    width: 90px;
    height: 80px;
}

.navbar-dark .navbar-toggler-icon {
    height: 70px;
    width: 50px;
}

#navbarSupportedContent {
    text-align: end;
    padding: 0 0 0 1180px;
}

@media (max-width: 2560px) {
    #navbarSupportedContent {
        text-align: end;
        padding: 0 0 0 89%;
    }
}

@media (max-width: 1440px) {
    #navbarSupportedContent {
        text-align: end;
        padding: 0 0 0 84%;
    }
}

@media (max-width: 1024px) {
    #navbarSupportedContent {
        text-align: end;
        padding: 0 0 0 84%;
    }
}

@media (max-width: 768px) {
    #navbarSupportedContent {
        text-align: end;
        padding: 0 0 0 61%;
    }
}

@media (max-width: 425px) {
    #navbarSupportedContent {
        text-align: end;
        padding: 0 0 0 47%;
    }
}

#btn-grupo {
    flex: 0 1 auto;
    font-size: .875rem;
    padding: .375rem .75rem;
    width: 100%;
}

.navbar-nav .dropdown-menu {
    position: absolute;
    min-width: fit-content;
    left: 100px;
    text-align: right;
}

/*                HEADER  - FOOTER              */

.centraliza {
    text-align: center;
}

.colorh {
    background-color: #301F56 !important;
}

.colorh img {
    margin: 0 auto;
}

.posicao_menu {
    position: absolute;
    right: 20px;
}

.colorf {
    background-color: #301F56 !important;
}

.colorf a {
    color: #1c61a7 !important;
}


/* **************** MAIN ************* */

main {
    color: #081424 !important;
}




/*  ********************** NEWS ***********************/

.colorb {
    background-color: #1c61a7 !important;
}