@charset "utf-8";

.tam-hamburguer {
    width: 90px;
    height: 80px;
}

.navbar-light .navbar-toggler-icon {
    height: 70px;
    width: 50px;
}

#navbarSupportedContent {
    text-align: end;
    padding: 0 0 0 1180px;
}

@media (max-width: 2560px) {
    #navbarSupportedContent {
        text-align: end;
        padding: 0 0 0 2377px;
    }
}

@media (max-width: 1440px) {
    #navbarSupportedContent {
        text-align: end;
        padding: 0 0 0 1166px;
    }
}

@media (max-width: 1024px) {
    #navbarSupportedContent {
        text-align: end;
        padding: 0 0 0 840px;
    }
}

@media (max-width: 768px) {
    #navbarSupportedContent {
        text-align: end;
        padding: 0 0 0 580px;
    }
}

@media (max-width: 425px) {
    #navbarSupportedContent {
        text-align: end;
        padding: 0 0 0 240px;
    }
}

#btn-grupo {
    flex: 0 1 auto;
    font-size: .875rem;
    padding: .375rem .75rem;
    width: 100%;
}

.navbar-nav .dropdown-menu {
    position: absolute;
}

/* .dropdown-menu {
    position: absolute;
} */

/*                  HEADER                  */

.centraliza {
    text-align: center;
}

.bg-dark {
    background-color: #081424 !important;
}

.bg-dark img {
    margin: 0 auto;
}

.posicao_menu {
    position: absolute;
    right: 20px;
}

.dropdown-menu {
    left: 40px;
    min-width: fit-content;
}

.navbar-toggler {
    font-size: 2.25rem;
}