@charset "utf-8";

body {
    font-family: 'Tomorrow', sans-serif;
}

@media (max-width: 391px) {
    
    .tam-hamburguer {
        width: 60px;
        height: 60px;
    }

    .navbar-dark .navbar-toggler-icon {
        height: 50px;
        width: 30px;
    }
}

@media (min-width: 392px) {
    .tam-hamburguer {
        width: 90px;
        height: 80px;
    }

    .navbar-dark .navbar-toggler-icon {
        height: 70px;
        width: 50px;
    }
}

#navbarSupportedContent {
    text-align: end;
    padding: 0 0 0 0;
}

@media (max-width: 2560px) {
    #navbarSupportedContent {
        text-align: center;
        padding: 0 0 0 0;
    }
}

@media (max-width: 1440px) {
    #navbarSupportedContent {
        text-align: center;
        padding: 0 0 0 0;
    }
}

@media (max-width: 1024px) {
    #navbarSupportedContent {
        text-align: center;
        padding: 0 0 0 0;
    }
    
}

@media (max-width: 768px) {
    #navbarSupportedContent {
        text-align: center;
        padding: 0 0 0 0;
    }
    
}

@media (max-width: 425px) {
    #navbarSupportedContent {
        text-align: center;
        padding: 0 0 0 0;
    }
}

#btn-grupo {
    flex: 0 1 auto;
    font-size: .875rem;
    padding: .375rem .75rem;
    width: 100%;
}

.navbar-nav .dropdown-menu {
    position: absolute;
    min-width: fit-content;
    min-width: -moz-fit-content;
    left: unset;
    text-align: center;
}

figcaption {
    padding-top: 5px;
    font-weight: 700;
}

/*                HEADER  - FOOTER              */

.centraliza {
    text-align: center;
}

.colorh {
    background-color: #301F56 !important;
    font-size: 1.4rem;
}

.colorh img {
    margin: 0 auto;
}

.posicao_menu {
    position: absolute;
    right: 20px;
}

.colorf {
    background-color: #301F56 !important;
}

.colorf a {
/*   color: #1c61a7 !important;*/
    color: rgba(255, 255, 255, 0.5);
}

.colorf a:hover {
    color: rgba(255, 255, 255, 0.75);
}

.copy {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 991px) {
    .menu_fixed {
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
        z-index: 16;
    }
}

/* **************** MAIN ************* */

main {
    color: #081424 !important;
}

/*  ********************** NEWS ***********************/

.colorb {
    background-color: #1c61a7 !important;
}

.btn-secondary {
    color: #081424 !important;
    background-color: #FFF !important;
    border-color: #FFF !important;
}

.btn-sm {
    font-size: 1.3rem;
    font-weight: 600;
}

.menu-estilos {
    max-width: fit-content;
    max-width: -moz-fit-content;
}

.nav-pills .nav-link.active {
    background-color: #301F56;
}


/* ********************** HOME ********************** */

.txtimg {
    font-size: medium;
}