@charset "UTF-8";

.card-fundo {
    overflow: hidden;
    height: 120px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background: linear-gradient(40deg, #301F56, #8332ac);
}

.avatar {
/*    border-radius: 50%;*/
    /* width: 120px; */
    margin-top: -60px;
    overflow: hidden;
    border: 5px solid #fff;
}

.card-body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: 0;
}

a {
    color: #333;
    text-decoration: none;
    background-color: transparent;
}


.footer {
    color: #fff;
}

a:hover {
    color: rgb(87, 86, 86);
    text-decoration: none;
}

.scrollspySite {
    position: relative;
    overflow: auto;
    height: 480px; 
    
}