@charset "UTF-8";

.card-fundo {
    overflow: hidden;
    height: 120px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background: linear-gradient(40deg, #301F56, #8332ac);
}

.card-fundo2 {
    overflow: hidden;
    height: 120px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background: linear-gradient(40deg, #d9027d, #ff256d);
}

.card-fundo3 {
    overflow: hidden;
    height: 120px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background: linear-gradient(40deg, #081424, #1c61a7);
}

.card-fundo4 {
    overflow: hidden;
    height: 120px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background: linear-gradient(40deg, #081424, #301F56);
}

.avatar {
/*    border-radius: 50%;*/
    /* width: 120px; */
    margin-top: -60px;
    overflow: hidden;
    border: 5px solid #fff;
}

.card-body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: 0;
}

a {
    color: #333;
    text-decoration: none;
    background-color: transparent;
}


.footer {
    color: #fff;
}

a:hover {
    color: rgb(87, 86, 86);
    text-decoration: none;
}

.scrollspySite {
    position: relative;
    overflow: auto;
    height: 480px; 
    
}

.btn-primary {
    background-color: #301F56;
    border-color: #301F56!important;
}

.btn-primary:hover {
    color: #fff;
    background-color: #301F56;
    border-color: #301F56;
}

nav-pills {
    background-color: #301F56;
    border-color: #301F56!important;
}

.cardb {
    border: 1px solid #1c61a7;
}

.img-bordas {
    border-radius: 4px;
}
